*, *:after, *:before{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.parent {
  background: #888888;  
  padding: 20px;    
}  

.parent:after
{
  clear: both;
  content: "";
  display: block;
}
    

.column {
  display: block;
  float: left;
  width: 100%;
  color: #ffffff;
  padding: 10px;
  font-family: Arial;
  font-size: 45px;
}

.main {
  background: #3054be;
}
.sidebar {
  background: #ee7000;
}

@media only screen and (min-width: 641px){
  .column {
    width: 50%;
  }
}

@media only screen and (min-width: 1025px){
  .main {
    width: 66.66%;
  }
  .sidebar {
    width: 33.33%;
  }
}
